@import 'vars';
@import 'fonts';
@import 'reset';
@import 'lips';
@import 'global';

.header {
  padding: 40px 0;

  &__conrainer {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  margin-left: 150px;
  align-items: center;
  margin-bottom: 10px;

  &__list {
    display: flex;
  }

  &__list-item {
    &:not(:last-child) {
      padding-right: 35px;
    }
  }

  &__list-link {
    color: $menu;
    text-decoration: none;
    transition: color 0.2s linear;
    @extend %rubik-500;

    &:hover {
      transition: color 0.2s linear;
    }
  }
}

.user-nav {
  display: flex;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__link:hover {
    background-color: $accent-color;

    span {
      transition: all 0.3s;
      background-color: #fff;
      color: $accent-color;
    }

    path {
      fill: $accent3-color;
    }
  }

  &__link-search,
  &__link-btn {
    height: 51px;
    width: 51px;
    border-radius: 50%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__link-search {
    background-color: $accent3-color;
  }

  &__link-btn {
    background-color: $menu;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    position: relative;
  }

  &__btn {
    border: none;
    background-color: $accent4-color;
    display: inline-block;
    padding: 10px 35px;
    cursor: pointer;
    line-height: 0;
    text-align: center;
    transition: all 0.3s;
  }

  &__btn:hover {
    background-color: $accent-color;

    span {
      transition: all 0.3s;
      background-color: #fff;
      color: $accent-color;
    }

    path {
      fill: $accent3-color;
    }
  }

  &__btn-heart {
    border-radius: 50px 0 0 50px;
  }

  &__btn-cart {
    border-radius: 0 50px 50px 0;
  }

  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-color: $accent-color;
    top: 6px;
    transition: all 0.3s;
  }

  &__num-heart {
    left: 45px;
  }

  &__num-cart {
    right: 25px;
  }
}

.footer-top {
  display: flex;
  padding: 74px 0;
  border-bottom: 1px solid #dae4e9;

  &__contact {
    width: 220px;
    margin-right: 100px;
  }

  &__nav {
    width: 170px;
    margin-right: 70px;
  }

  &__logo {
    display: block;
    margin-bottom: 25px;
  }

  &__adress,
  &__email,
  &__phone {
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s;

    &:hover {
      color: $accent-color;
      @extend %rubik-500;
      transition: all 0.3s;
    }
  }

  &__title {
    color: $title-footer;
    margin-bottom: 20px;
    @extend %dmSans-700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
    padding-top: 20px;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    transition: all 0.3s;

    &:hover {
      color: $accent-color;
      @extend %rubik-500;
      transition: all 0.3s;
    }
  }

  &__text {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 26px;
    color: $default-color;
    text-decoration: none;
    @extend %rubik-400;
  }

  &__item-form {
    margin-left: auto;
    width: 272px;
  }

  &__form-input {
    max-width: 170px;
    width: 100%;
    background-color: $bg-block1;
    border: none;
    padding: 12px 10px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      color: $accent-color;
      @extend %dmSans-400;
      font-size: 16px;
    }
  }

  &__form-btn {
    @extend %btn;
    @extend %dmSans-400;
    border: none;
    transition: all 0.3s;

    &:hover {
      background-color: $accent-color;
      transition: all 0.3s;
    }
  }
}

.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.footer-menu {
  &__items {
    display: flex;
  }

  &__item {
    padding: 0 15px;
    position: relative;

    &:not(:last-child)::after {
      content: '|';
      position: absolute;
      right: 0;
    }
  }

  &__link {
    transition: all 0.3s;

    &:hover {
      color: $accent-color;
      @extend %rubik-400;
      transition: all 0.3s;
    }
  }
}

.top-slider {
  display: block;
  background-color: $accent4-color;
  max-width: 1770px;
  margin: 0 auto;
  padding: 210px 0 80px;
  position: relative;
  z-index: 10;

  &::after {
    content: '';
    position: absolute;
    background-image: url('../images/ellips-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 609px;
    height: 634px;
    top: 10%;
    left: 56%;
    z-index: -1;
  }

  &__inner {}

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding-right: 20px;
  }

  &__title {
    font-size: 72px;
    line-height: 1;
    color: $accent-color;
    margin-bottom: 35px;
    @extend %rubik-500;
  }

  &__text {
    max-width: 320px;
    margin-bottom: 55px;
    @extend %rubik-400;
  }

  &__link {
    @extend %btn;
    @extend %rubik-500;
    padding: 20px 100px 20px 25px;
    position: relative;
    display: inline-block;
    transition: all 0.3s;

    &:hover {
      background-color: $accent-color;
      transition: all 0.3s;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-btn.svg');
      width: 22px;
      height: 9px;
      right: 20px;
      top: 28px;
    }
  }

  &__img {
    max-width: 100%;
    margin-left: auto;
    object-fit: contain;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-top: 140px;

    li {
      padding: 0 6px;
      line-height: 1;

      button {
        padding: 0;
        font-size: 11px;
        background-color: #fde3cc;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        border: 1px solid transparent;
        position: relative;
        color: #667983;
      }

      &.slick-active {
        button {
          background-color: #fff;
          color: #fde3cc;
        }
      }
    }
  }
}

.info {
  margin-bottom: 60px;

  &__container {
    max-width: 1770px;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    background-color: $bg-block1;
    padding: 0 140px;
  }

  &__item {
    width: 33%;
    max-width: 300px;
    padding: 45px 5px 45px 70px;

    position: relative;
  }

  &__item:not(:last-child) {
    // border-right: 1px solid #000;
  }

  &__item::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
  }

  &__item--left::before {
    width: 52px;
    height: 55px;
    background-image: url('../images/support.svg');
  }

  &__item--center::before {
    width: 53px;
    height: 36px;
    background-image: url('../images/delivery.svg');
  }

  &__item--right::before {
    width: 54px;
    height: 54px;
    background-image: url('../images/payment.svg');
  }

  &__title {
    @extend %dmSans-700;
    color: #414141;
    margin-bottom: 5px;
  }

  &__text {
    @extend %dmSans-400;
    line-height: 30px;
  }
}

.products {
  margin-bottom: 180px;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    padding-bottom: 180px;
  }

  &__top {
    text-align: center;
    margin-bottom: 70px;
  }

  &__title {
    padding-top: 20px;
    font-size: 36px;
    color: #000;
    margin-bottom: 25px;
    @extend %dmSans-700;
  }

  &__btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: all 0.3s;
    color: $default-color;
    @extend %dmSans-700;

    &:hover {
      color: #000;
      transition: all 0.3s;
    }
  }

  &__btn:not(:last-child) {
    margin-right: 20px;
  }
}

.products-item {
  max-width: 270px;

  &__img-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    min-height: 380px;
    overflow: hidden;
    transition: all 0.3s linear;

    &:hover {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.2);
    }
  }

  &__link-box {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    transform: translateY(500%);
    transition: all 0.3s linear;
  }

  &__images {
    padding-top: 30px;
    margin-top: auto;
    display: block;
    margin: auto auto;
    object-fit: cover;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 51px;
    width: 51px;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s linear;

    &:hover {
      background-color: $accent2-color;
      transition: all 0.3s linear;

      path {
        fill: #fff;
      }
    }
  }

  &__link:not(:last-child) {
    margin-right: 15px;
  }

  &__info {
    text-align: center;
    padding: 30px 15px;
  }

  &__name {
    font-size: 16px;
    color: $accent-color;
    word-break: break-all;
    margin-bottom: 10px;
  }

  &__price {
    @extend %dmSans-700;
    font-size: 16px;
    color: $accent2-color;
  }

  &:hover {
    .products-item__link-box {
      transform: translateY(0);
    }
  }
}

.products-bottom {
  &__container {
    max-width: 1770px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    background-color: $bg-block1;
    width: 870px;
    min-height: 390px;
    position: relative;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__photo {
    position: absolute;
    top: -98px;
    left: 150px;
    max-width: 100%;
    object-fit: cover;
  }

  &__info {
    width: 53%;
    margin-left: auto;
    padding: 100px 20px 50px 0;
  }

  &__title {
    font-size: 26px;
    color: $title-color;
    @extend %dmSans-700;
    margin-bottom: 25px;
    color: $accent-color;
  }

  &__text {
    @extend %rubik-400;
    color: $accent-color;
    margin-bottom: 35px;
  }

  &__link {
    @extend %btn;
    @extend %rubik-500;
    background-color: transparent;
    border: 1px solid #b3b7b5;
    border-radius: 6px;
    color: #436372;
    padding: 20px 94px 20px 20px;
    position: relative;
    display: inline-block;
    transition: all 0.3s;

    &:hover {
      background-color: $accent4-color;
      border-radius: 6px;
      border: 1px solid $accent4-color;
      transition: all 0.3s;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-btn-2.svg');
      width: 22px;
      height: 9px;
      right: 20px;
      top: 28px;
    }
  }
}

.design {
  margin-bottom: 180px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }

  &__top {
    text-align: center;
    margin-bottom: 70px;
  }

  &__title {
    font-size: 36px;
    color: #000;
    margin-bottom: 25px;
    @extend %dmSans-700;
  }

  &__btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: all 0.3s;
    color: $default-color;
    @extend %dmSans-700;

    &:hover {
      color: #000;
      transition: all 0.3s;
    }
  }

  &__btn:not(:last-child) {
    margin-right: 20px;
  }

  &__item {
    background-color: rgb(248, 248, 248);
    position: relative;
    max-width: 370px;
    width: 100%;
    height: 246px;
    text-align: left;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s linear;

    &:hover {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.2);
    }
  }

  &__info {
    flex: 1 2 auto;
    padding: 40px 10px 10px 45px;
    @extend %dmSans-700;
  }

  &__info-name {
    font-size: 20px;
    color: $title-color;
    margin-bottom: 12px;
  }

  &__info-style {
    color: $accent2-color;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 263px;
    transform: translate(-43%, -37%);
    object-fit: cover;
  }
}

.video {
  background-image: url('../images/video-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 120px 0;
  height: 501px;
  display: flex;
  justify-content: center;

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__play {
    width: 90px;
    height: 90px;
    margin: 40px;
    background-color: $accent2-color;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $accent2-color;
      opacity: 0.7;
      border-radius: 50%;
      z-index: 1;
      opacity: 0.7;
    }

    &::before {
      animation: pulse 2s ease-out infinite;
    }

    &::after {
      animation: pulse 2s 1s ease-out infinite;
    }
  }

  &__play img {
    z-index: 10;
    position: absolute;
    left: 37px;
  }
}

@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.articles {
  padding-top: 50px;

  &__inner {
    margin-bottom: -203px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__link {
    display: block;
    padding-right: 20px;
    @extend %dmSans-700;
    font-size: 16px;
    color: $title-color;
    position: relative;
  }

  &__link::after {
    content: '';
    position: absolute;
    background-image: url('../images/dizayn-interera/dizayn-arrow.svg');
    width: 6px;
    height: 11px;
    top: 6px;
    right: 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.articles-item {
  &__img {
    height: 250px;
    width: 370px;
    object-fit: cover;
    display: block;
    transition: 1s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__link {
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    @extend %dmSans-700;
    font-size: 14px;
  }

  &__box {
    padding: 35px 30px 0px;
    flex: auto;
    position: relative;

    &::after {
      content: 'NEWS';
      line-height: 1;
      padding: 10px 30px;
      position: absolute;
      top: -18px;
      left: 25px;
      background-color: $accent2-color;
      border-radius: 20px;
      cursor: pointer;
      color: #fff;
      @extend %dmSans-700;
      font-size: 14px;
    }
  }

  &__text {
    display: block;
    min-height: 75px;
    @extend %dmSans-700;
    color: $title-color;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__info {
    padding: 20px 35px;
    border-top: 1px solid #e0e0e0;
  }

  &__date {
    margin-right: 25px;
  }

  &__author,
  &__date {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 30px;
    position: relative;
    @extend %rubik-400;
    color: $title-color;
    font-size: 12px;
    line-height: 30px;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 4px;
    }
  }

  &__author::before {
    background-image: url('../images/dizayn-interera/dizayn-user.svg');
  }

  &__date::before {
    background-image: url('../images/dizayn-interera/dizayn-time.svg');
  }
}

.partners {
  background-color: $bg-block1;
  padding: 225px 0 40px;

  &__list {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@import 'media';